<mgl-map
    [style]="style"
    [zoom]="[10]"
    [center]="[-1.6833, 48.1033]"
    [cursorStyle]="cursorStyle"
  >
  <mgl-layer
        id="communes-rennes"
        type="fill-extrusion"
        [source]="communesRennes"
        [paint]="{
          'fill-extrusion-color': ['get', 'color'],
          'fill-extrusion-height': ['/', ['to-number', ['get', 'nbHabitant']], 100],
          'fill-extrusion-base': 0,
          'fill-extrusion-opacity': 0.5
        }"
        (mouseEnter)="cursorStyle = 'pointer'"
        (mouseLeave)="cursorStyle = ''"
        (click)="onClick($event)"
      ></mgl-layer>
      <mgl-popup *ngIf="selectedLngLat" [lngLat]="selectedLngLat">
        <span [innerHTML]="selectedElement?.nbHabitant"></span>
      </mgl-popup>
</mgl-map>